.signup{
  margin-right: 10px;
}

.signin{
  margin-right: 10px;
}

.icon{
  cursor: pointer;
}

span{
  cursor: pointer;
}

.icon1{
  margin-right: 10px;
  cursor: pointer;
}

.name{
  margin-right: 10px;
  cursor: pointer;
}

.namenadimg{

  img{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 3px;
  }

  .namenadimginner{
    display: flex;
  }
}
